@use '../../styles/global.scss' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.button {
    &--action {
        background-color: $instock-indigo;
        color: $white;
        @include button-style;

        &:hover {
            background-color: $graphite;
        }
    }

    &--delete {
        background-color: $red;
        color: $white;
        @include button-style;

        &:hover {
            background-color: $graphite;
        }
    }

    &--cancel {
        background-color: $white;
        color: $slate;
        @include button-style;
        border: 1px solid $cloud;

        &:hover {
            border: 1px solid $instock-indigo;
            color: $instock-indigo;
        }
    }
}