// PRIMARY COLORS

// Global-text-color
$instock-black:#13182C; 
// Interactive elements
$instock-indigo: #2E66E5;   
//Global white color
$white:#FFFFFF;  

// SECONDARY COLORS
//Table column headers & placeholder text
$slate: #5C667E; 
//Outlines, dividers, borders, table sorting icon
$cloud: #BDC5D5;

// BACKGROUND COLORS
//Top navigation header background, CTA button hover state background
$graphite: #232940; 

//Page background, table column header background, CTA background
$light-grey: #F7F8F9;

// SUPPORTING COLORS
//“In stock” label
$green:  #158463;
//"Out of stock” label, error states & delete icon
$red: #C94515;  

