@use "./breakpoints" as *;
@use "./colors" as *;
@use "./variables" as *;

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin mobile {
  @media screen and (min-width: $mobile-breakpoint) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

// Other reusable styling
@mixin button-style {
  padding: 0 0.5rem;
  border: 0;
  height: 2.25rem;
  border-radius: 20px;
  width: 100%;
  font-size: $m-h3-text-size;
  cursor: pointer;

  @include tablet {
    height: 2.375rem;
    padding: 0 1rem;
    width: fit-content;
  }
}

@mixin button-nav-style {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  border: 0;
  height: 2.25rem;
  border-radius: 20px;
  width: 100%;
  font-size: $m-h3-text-size;

  @include tablet {
    height: 2.375rem;
    padding: 0 1rem;
    width: fit-content;
  }
}

@mixin cancel-button-style {
  background-color: $white;
  color: $slate;
  cursor: pointer;
  @include button-nav-style;
  border: 1px solid $cloud;
  margin: 0;

  &:hover {
    border: 1px solid $instock-indigo;
    color: $instock-indigo;
  }
}

@mixin input-style {
  border-radius: 20px;
  padding: 0.5rem 1rem;
  color: $instock-black;
}