$Titillium-Web-Regular: "Titillium Web Regular 400";
$Titillium-Web-Semi-bold: "Titillium Web Semi-bold 600";

// Titillium Web Regular 400
@font-face {
  font-family: "Titillium Web Regular 400";
  src: url("https://fonts.google.com/specimen/Titillium+Web") format("otf");

  font-weight: 400;
}

// Titillium Web Semi-bold 600
@font-face {
  font-family: "Titillium Web Semi-bold 600";
  src: url("https://fonts.google.com/specimen/Titillium+Web") format("otf");

  font-weight: 600;
}
