// desktop & tablet text styles
// H1 - Page Header
$h1-text-size: 32px; 
$h1-line-height: 40px;
// H2 - Subheader
$h2-text-size: 24px;
$h2-line-height: 32px;
// H3 - Labels, Links & Buttons
$h3-text-size: 14px;
$h3-line-height: 22px;
// H4 - table header
$h4-text-size: 12px;
$h4-line-height: 18px;
// P1 - Body Large
$p1-text-size: 16px;
$p1-line-height: 28px;
// P2 - Body Medium
$p2-text-size: 14px;
$p2-line-height: 22px;
// P3 - Body Small
$p3-text-size: 12px;
$p3-line-height: 18px;


// mobile text styles
// M H1 - Page Header
$m-h1-text-size: 28px;
$m-h1-line-height: 36px;
// M H2 - Subheader
$m-h2-text-size: 20px;
$m-h2-line-height: 28px;
// M H3 - Labels, Links & Buttons
$m-h3-text-sizee: 13px;
$m-h3-line-height: 20px;
// M H4 - table header
$m-h4-text-size: 11px;
$m-h4-line-height: 16px;
// M P1 - Body Large
$m-p1-text-size: 15px;
$m-p1-line-height: 26px;
// M P2 - Body Medium
$m-p2-text-size: 13px;
$m-p2-line-height: 20px;
// M P3 - Body Small
$m-p3-text-size: 11px;
$m-p3-line-height: 16px;
