@use '../../styles/global.scss' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.inventory-item{

    &__input-container {
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
    
        &--visible{
            display: flex;
        }
    
        &--hidden{
            display: none;
        }
    }

}
