@use '../../styles/global.scss' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.inventory-item{

    &__input-container {
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
    
        &--visible{
            display: flex;
            flex-direction: column;
        }
    
        &--hidden{
            display: none;
        }
    }

}

// .input-type__quantity{
//     border: none;
    
//     &--error{

//     }
// }

.input-type__quantity {
    @include input-style;
    // border: 1px solid $cloud;

    @include desktop {
        width: 50%;

    &--error {
        @include input-style;
        border: 1px solid $red;
        @include desktop {
            width: 50%;

        }
    }
    }

}