@use '../../styles/global.scss' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.warehouse-inv {
    
    &__display-block{
        display: block;
        padding: 0.5rem 1rem;

        @include tablet {
            display: flex;
            padding: 1rem 2rem;
        }
    }
    
    &__display-none {
        display: none;
    }
    
    &__address {

        @include tablet {
            width: 36%;
            
        }

        &--input {
            display: flex;

            @include tablet {
                flex-direction: column;
            }
        }
    }
    
    &__contact {
        display: flex;
        width: 100%;
        padding-top: 1.5rem;
        padding-bottom: 0.5rem;

        @include tablet {
            width: 60%;
            border-left: 1px solid $cloud;
            padding: 0;
            padding-left: 2rem;
        }
    }
    
    &__contact-name {
        width: 50%;
    }

    &__contact-info {
        width: 50%;
    }

    &__title {
        font-size: 0.6rem;
        color: $slate;
        margin-bottom: 0;

        @include tablet {
            margin-top: 0;
            font-size: $h4-text-size;
        }
    }
    
    &__input {
        font-size: 0.7rem;
        display: flex;
        align-items: center;
        margin: 0;

        @include tablet {
            font-size: $p2-text-size;
        }
    }
}