// desktop & tablet text styles
// H1 - Page Header
$H1-Text-size: 32px; | $H1-Line-height: 40px;
// H2 - Subheader
$H2-Text-size: 24px; | $H2-Line-height: 32px;
// H3 - Labels, Links & Buttons
$H3-Text-size: 14px; |$H3-Line-height: 22px;
// H4 - table header
$H4-Text-size: 12px; | $H4-Line-height: 18px;
// P1 - Body Large
$P1-Text-size: 16px; | $P1-Line-height: 28px;
// P2 - Body Medium
$P2-Text-size: 14px; | $P2-Line-height: 22px;
// P3 - Body Small
$P3-Text-size: 12px; | $P3-Line-height: 18px;


// mobile text styles
// M H1 - Page Header
$M-H1-Text-size: 28px; | $M-H1-Line-height: 36px;
// M H2 - Subheader
$M-H2-Text-size: 20px; | $M-H2-Line-height: 28px;
// M H3 - Labels, Links & Buttons
$M-H3-Text-sizee: 13px; | $M-H3-Line-height: 20px;
// M H4 - table header
$M-H4-Text-size: 11px; | $M-H4-Line-height: 16px;
// M P1 - Body Large
$M-P1-Text-size: 15px; | $M-P1-Line-height: 26px;
// M P2 - Body Medium
$M-P2-Text-size: 13px; | $M-P2-Line-height: 20px;
// M P3 - Body Small
$M-P3-Text-size: 11px; | $M-P3-Line-height: 16px;
