@use '../../styles/global.scss' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.item__item{
    font-size: $m-p2-text-size;
    &--instock{
        color: $green;
        background-color: #15846312;
        border-radius: 20px;
        padding: .1rem .5rem;
        text-align: center;
        font-weight: 600;
        margin: 0;
    }
    
    &--outstock{
        color: $red;
        background-color: #C9451512;
        border-radius: 20px;
        padding: .1rem .5rem;
        text-align: center;
        font-weight: 600;
        margin: 0;
    }
}