@use '../../styles/global.scss' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.inv-item {
    border-top: 1px solid $cloud; 
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;

    @include tablet {
        flex-wrap: nowrap;
        align-items: center;
        padding: 1rem;
    }
    
    &__name {
        width: 50%;
        padding-bottom: 1rem;

        @include tablet {
            width: 20%;
            padding: 0;
            padding-left: 1rem;
        }

        @include desktop {
            width: 15%;
        }
    }

    &__status {
        width: 50%;
        padding-right: 1rem;

        @include tablet {
            width: 26%;
            order: 3;
        }

        @include desktop {
            width: 25%;
        }
    }

    &__category {
        width: 50%;

        @include tablet {
            width: 20%;
            order: 2;
        }

        @include desktop {
            width: 25%;
        }
    }

    &__quantity {
        width: 50%;
        padding-right: 1rem;

        @include tablet {
            width: 18.5%;
            order: 4;
        }
    }

    &__icons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;

        @include tablet {
            justify-content: flex-end;
            width: 10%;
            align-items: baseline;
            padding: 0;
            order: 5;
        }

        @include desktop {
            width: 15%;
        }

        &--icon {
            cursor: pointer;
            
            @include tablet {
                padding-left: 1rem;
            }
        }
    }

    &__title {
        font-size: 0.6rem;
        color: $slate;

        @include tablet {
            display: none;
        }
    }
    
    &__input {
        font-size: 0.7rem;
        display: flex;
        align-items: center;
        margin: 0;

        @include tablet {
            font-size: $p2-text-size;
        }
    }

    &__link {
        color: $instock-indigo;
    }
}