@use '../../styles/global.scss' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

input {
    border-radius: 20px;
    color: $instock-black;
    padding: 0.5rem 1rem;
    border: 1px solid $cloud;

    &::placeholder {
        color: $slate;
        font-family: 'Titillium Web';
    }
}

label {
    margin-bottom: 0.25rem;
    color: $instock-black;
    font-weight: 600;
}

.inventory-item {
    // margin: 1rem;
    &__form-inputs{
        @include tablet {
            display: flex;
        }
    }
    &__form-actions{
        background-color: $light-grey;
        display: flex;
        padding: 1rem 0;
    }
    &__details{
        padding: 0 1rem;
        margin-bottom: 2rem;
    }
    &__availability{
        padding: 0 1rem;
        margin-bottom: 2rem;
        border-top: 1px solid $cloud;
    }
    &__input-container{
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
    }
    &__radio-container{
        display: flex;
    }
    &__dropdown {
        border-radius: 20px;
        padding: 0.5rem 1rem;
        border: 1px solid $cloud;
    }
}

.radio {
    &__option {
        width: 50%;
    }
}