@use '../../styles/global.scss' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

label {
    margin-bottom: 0.25rem;
    color: $instock-black;
    font-weight: 600;
}

.inventory-item {
    margin: 0;
    // border-bottom: 1px solid $cloud;

    &__form-inputs {
        // border-top: 1px solid $cloud;
        // margin-top: 0rem;

        @include tablet {
            display: flex;
            padding: 0 2rem;
        }
    }

    &__form-actions {
        background-color: $light-grey;
        display: flex;
        padding: 1rem 0;

        @include tablet {
            flex-direction: row-reverse;
            padding-right: 2rem;
        }
       
    }

    &__details {
        padding: 0 1rem;
        margin-bottom: 2rem;

        @include tablet {
            margin: 2rem 0 2rem 0;
            padding: 0 2rem 0 0;
            border-right: 1px solid $cloud;
            width: 100%;
        }
    }

    &__availability {
        padding: 0 1rem;
        margin-bottom: 1rem;
        border-top: 1px solid $cloud;

        @include tablet {
            margin: 2rem;
            margin-right: 0;
            padding: 0;
            border: 0;
            width: 100%;
        }
    }

    // &__input-container {
    //     display: flex;
    //     flex-direction: column;
    //     margin: 1rem 0;


    &__status-container {
        margin: 1rem 0;
        @include desktop {
            width: 50%;
        }
    }

    &__radio-container {
        display: flex;
    }

    &__subheader {
        @include tablet {
            margin: 0;
        }
    }

    &__description {
        border-radius: 20px;
        color: $instock-black;
        padding: 0.5rem 1rem;
        border: 1px solid $cloud;
        font-family: 'Titillium Web';
        resize: none;

        &::placeholder {
            color: $slate;
        }
    }

}


.input-type {
    &__input {
        @include input-style;
        border: 1px solid $cloud;

        &::placeholder {
            color: $slate;
            font-family: 'Titillium Web';
        }

        &--error {
            @include input-style;
            border: 1px solid $red;
        }
    }

    &__description {
        @include input-style;
        border: 1px solid $cloud;
        font-family: 'Titillium Web';
        resize: none;

        &::placeholder {
            color: $slate;
        }

        &--error {
            @include input-style;
            font-family: 'Titillium Web';
            border: 1px solid $red;
        }
    }

    &__dropdown {
        border-radius: 20px;
        padding: 0.5rem 1rem;
        border: 1px solid $cloud;
        color: $slate;
        

        &--error {
            @include input-style;
            border: 1px solid $red;
        }
    }

    &__option {
        width: 50%;
    }

    // &__quantity {
    //     @include input-style;
    //     border: 1px solid $cloud;

    //     @include desktop {
    //         width: 22%;
    //     }

    //     &--error {
    //         @include input-style;
    //         border: 1px solid $red;
    //     }
    // }
}

.button--action{
    padding: 1rem;
    @include tablet{
    margin-left: 1rem;
    }
}