@use '../../styles/global.scss' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.main {
    margin: 0 1.5rem;
    border-radius: 3px;
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
    width: 91%;
    display: flex;
    flex-direction: column;
    

    &__header {
       padding-bottom: 1.5rem;
       border-bottom: 1px solid $cloud;
    }
    
    &__header-title {
        margin: none;
    }

    &__header-search {
        width: 100%;
        height: 2.25rem;
        border-radius: 20px;
        border: 1px solid $cloud;
        padding: 1rem;
        background-image: url('../../assets/icons/search.svg');
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }

}
                