@use '../../styles/global.scss' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.page-header{
    border-bottom: 1px solid $cloud;

    &__background{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 1rem;
        border-bottom: 1px solid $cloud;
        
        @include tablet {
            padding: 1rem 2rem;
        }
    }

    &__content{
        display: flex;
        align-items: center;
        padding: .75rem 0 .5rem 1rem;
        @include tablet {
        padding: 1rem 2rem .55rem 2rem;
        }

    }

    &__icon{

    }

    &__title{
        margin: 0.5rem 0.5rem 0.9rem 0.5rem;
        font-size: 1.6rem;
        line-height: $m-h1-line-height;
        text-transform: capitalize;
        @include tablet {
        font-size: $h1-text-size;
        line-height: $h1-line-height;

        }
    }
}