@use '../../styles/partials/mixins' as *;

.footer {
    display: flex;
    justify-content: center;
    align-items: center;

    &__copyright {
        padding: 2.5rem 0;
    }

    @include desktop {
        padding-bottom: 3rem;
    }
}