@use '../../styles/partials/mixins' as *;

.footer {
    display: flex;
    justify-content: center;
    align-items: center;

    &__copyright {
        font-size: 11px;
        padding: 1.5rem 0;   
    }

    @include tablet {
        padding-top: 1.5rem;
    }

    @include desktop {
        padding-top: 3rem;
        padding-bottom: 1rem;
    }
}