@use '../../styles/global.scss' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/global.scss' as *;

.item{
    display: flex;
    flex-direction: column;
   
    
    @include tablet{ 
        flex-direction: row;
        width: 94%;
    }
    @include desktop {
        width: 96%;
    }

    &__info{
        display: flex;
        width: 100%;
        @include tablet {
            align-items: center;
            justify-content: space-between;
        }
       
    }

    &__info-left{
        display: flex;
        flex-direction: column;
        width: 8rem;
        @include tablet{
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 50%;
        }
        @include desktop{
            width: 48%;
           
        }
    }

    &__subheader{
        font-size: $m-h4-text-size;
        line-height: $m-h4-line-height;
        color: $slate;
        text-transform: uppercase;
        margin-top: 1rem;
        width: 8rem;
        @include tablet{
            display: none;
        }
        
    }

    &__link{
        margin: 0%;
        display: flex;
        align-items: center;
        
    }

    &__item{
        font-size: $m-p2-text-size;
        color: $instock-black;
        margin: 0;
        @include tablet {
        }

        &--clickable{
            font-size: $m-p2-text-size;
            color: $instock-indigo;
            font-weight: 600;
            margin: 0;
        }

        &--instock{
            color: $green;
            background-color: #15846312;
            border-radius: 20px;
            padding: .1rem .5rem;
            text-align: center;
            font-size: $m-p2-text-size;
            font-weight: 600;
            margin: 0;
        }

        &--outstock{
            color: $red;
            background-color: #15846312;
            border-radius: 20px;
            padding: .1rem .5rem;
            text-align: center;
            font-size: $m-p2-text-size;
            font-weight: 600;
            margin: 0;
        }

        &-wrapper{
            @include tablet{
                width: 50%;
                
            }
        
        }

    }

    &__info-right{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 9rem; 
        @include tablet{
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 52%;
        }
        @include desktop{
            justify-content: space-between;
            width: 60%;
            // padding-right: 3rem;
            
        }
    }

    &__icons{
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        width: 100%;
        @include tablet{
            align-items: center;
            justify-content: space-between;
            padding: 0;
            width: 4rem;
        }

        &-single{
            cursor: pointer;
            width: 1.3rem;
            
            @include desktop{
                margin: .5rem;
            }
        }
        
    }

}