@use '../../styles/global.scss' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/global.scss' as *;

.item{
    border: 1px solid orange;
    display: flex;
    flex-direction: column;
    border-top: 1px solid $cloud;
    
    @include tablet{ 
        flex-direction: row;
    }

    &__info{
        border: 1px solid violet;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        padding-left: 1rem;
       
    }

    &__info-left{
        border: 1px solid green;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 50%;
        @include tablet{
            flex-direction: row;
            justify-content: space-between;
            width: 36%;
        }
       
        
    }

    &__subheader{
        font-size: $m-h4-text-size;
        line-height: $m-h4-line-height;
        color: $slate;
        text-transform: uppercase;
        margin-top: 1rem;
        @include tablet{
            display: none;
        }
        
    }

    &__link{
        margin: 0%;
        display: flex;
        align-items: center;
        
    }

    &__item{
        border: 1px solid aqua;
        font-size: $m-p2-text-size;
        color: $instock-black;
        margin: 0;

        &--clickable{
            font-size: $m-p2-text-size;
            color: $instock-indigo;
            font-weight: 600;
            margin: 0;
        }

        &--stock{
            color: $green;
            background-color: #15846312;
            border-radius: 20px;
            padding: .1rem .5rem;
            text-align: center;
            font-size: $m-p2-text-size;
            font-weight: 600;
            margin: 0;
        }
    }

    &__info-right{
        border: 1px solid yellowgreen;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 50%; 
        @include tablet{
            flex-direction: row;
            justify-content: space-between;
            width: 56%;
        }
    }

    &__icons{
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        width: 3.2rem;
        height: 3.2rem;
        @include tablet{
            align-items: flex-start;
            justify-content: center;
            padding: 0 .5rem;
        }
        
    }

}